@model Ejercicio_7.Models.Operaciones

@{
    ViewData["Title"] = "Resultado de la Operación";
}

<h2>@Model.Nombre_Operacion</h2>

<p>Operación: @Model.Numero1 y @Model.Numero2</p>
<p>Resultado: @Model.Resultado</p>
