@model Ejercicio_6.Models.Temperatura

@{
    ViewData["Title"] = "Conversión de Temperatura";
}

<h2>Conversión de Temperatura</h2>

<p>Temperatura en Grados Fahrenheit: @Model.Fahrenheit °F</p>
<p>Temperatura en Grados Celsius: @Model.Celsius °C</p>
